language: go

before_script:
- go get github.com/mattn/goveralls

script:
# Build everything and retrieve any component libraries.
- go get ./...
# Run every regular unit test.
- go test -covermode=count -coverprofile=_coverage.cov -v -coverpkg=./... ./...
# Submit coverage to Coveralls.io
- $GOPATH/bin/goveralls -coverprofile=_coverage.cov -service=travis-ci
